 * {
            margin: 0 auto;
            padding: 0;
        }

        body {
            width: auto;
            height: auto;
            font-family: 'Roboto', sans-serif;
            background-color: #FAFAFA;
        }

        #header {
            padding-left: 180px;
            padding-bottom: 75px;
            border-bottom: 1px solid #b2bec3;
            background-color: #fff;
        }

        #header>ul {
            list-style: none;
        }

        #header>ul>li {
            float: left;
        }

        #header>ul>li>img {
            margin-top: 15px;
            height: 50px;
        }

        #header>ul>li>input {
            height: 25px;
        }

        #header>ul>li>input[type=search] {
            width: 200px;
            margin: 23px 0 0 230px;
            border: 1px solid #b2bec3;
            text-align: center;
            color: #b2bec3;
        }

        #header>ul>li>input[type=button] {
            width: 55px;
            margin: 23px 10px 0 260px;
            border: 1px solid #0984e3;
            border-radius: 4px;
            background-color: #0984e3;
            color: #fff;
        }

        #header>ul>li>input[type=submit] {
            width: 55px;
            margin: 23px 10px 0 5px;
            border: 1px solid #fff;
            border-radius: 4px;
            background-color: #fff;
            color: #0984e3;
        }

        #profile {
            width: auto;
            height: 20px;
        }

        #profile>img {
            border-radius: 500px;
            margin: 70px 0 0 250px;
        }

        aside {
            float: right;
            margin: 60px 530px 0 0;
        }

        aside>ul {
            list-style: none;
        }

        aside>ul>li {
            float: left;
            padding: 5px;
        }

        #name {
            font-size: 27px;
        }

        aside>ul>li>img {
            height: 20px;
            margin-top: 5px;
        }

        aside>ul>li>input[type=button] {
            width: 65px;
            height: 30px;
            border: 1px solid #0984e3;
            border-radius: 4px;
            background-color: #0984e3;
            color: #fff;
        }

        aside>ul>li>a {
            text-decoration: none;
            color: #466C91;
            font-weight: 600;
        }

        #cnt {
            float: left;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        #story {
            margin: 250px 0 0 250px;
        }

        #story>ul {
            list-style: none;
        }

        #story>ul>li {
            float: left;
        }

        #story>ul>li>img {
            width: 80px;
            padding: 20px;
            border-radius: 500px;
        }

        #storyt {
            margin: 330px 400px 0 250px;
            list-style: none;
        }

        #storyt>ul {
            list-style: none;
        }

        #storyt>ul>li {
            float: left;
            padding-right: 30px;
        }

        #con {
            margin: 440px 0 0 0;
        }
        #photos>tbody>tr>td{
            padding: 10px;
        }

        #footer {
            padding-left: 180px;
            padding-bottom: 75px;
        }

        #footer>ul {
            list-style: none;
        }

        #footer>ul>li {
            float: left;
            margin-top: 30px;
            color: #b2bec3;
            font-size: 12px;
        }

        #footer>ul>li>a {
            padding: 10px;
            text-decoration: none;
            color: #466C91;
            font-size: 12px;
            font-weight: 600;
        }
        #cr{
            padding-left: 120px;
        }