 * {
     margin: 0 auto;
     padding: 0;
 }

 body {
     width: auto;
     height: auto;
     font-family: 'Roboto', sans-serif;
     background-color: #FAFAFA;
 }

 a {
     text-decoration: none;
     color: #466C91;
     font-weight: 600;
 }

 a:visited {
     text-decoration: none;
 }

 li {
     list-style: none;
 }

 #header {
     padding: 20px 0px 60px 240px;
     border-bottom: 1px solid #b2bec3;
     background-color: #fff;
 }

 #header > ul > li {
     float: left;
 }

 #header > ul > li > img {
     height: 45px;
 }

 #header > ul > li > input {
     height: 25px;
     margin: 7px 240px;
 }

 #header > ul > li > input[type=search] {
     width: 200px;
     border: 1px solid #b2bec3;
     text-align: center;
     color: #b2bec3;
 }

 #header > ul > li > input[type=button] {
     width: 55px;
     border: 1px solid #0984e3;
     border-radius: 4px;
     background-color: #0984e3;
     color: #fff;
     margin-left: 5px;
 }

 #header > ul > li > input[type=submit] {
     width: 55px;
     border: 1px solid #fff;
     border-radius: 4px;
     background-color: #fff;
     color: #0984e3;
     margin-left: -235px;
 }

 #profile {
     padding: 60px 510px 0 320px;
 }

 #profile > img {
     border-radius: 500px;
 }

 aside {
     float: right;
     line-height: 24px;
 }

 aside > ul > li {
     float: left;
 }

 #userid > li:first-child {
     font-size: 27px;
 }

 #userid > li > img {
     height: 20px;
     margin-top: 5px;
 }

 #userid > li > input[type=button] {
     width: 65px;
     height: 30px;
     border: 1px solid #0984e3;
     border-radius: 4px;
     background-color: #0984e3;
     color: #fff;
     margin-left: 15px;
 }

 #cnt {
     float: left;
     margin-top: 7px;
     margin-bottom: 13px;
 }

 #cnt > li:nth-child(2) {
     padding-left: 50px;
 }

 #cnt > li:last-child {
     padding-left: 50px;
 }

 #story {
     padding: 25px 0 0 280px;
     height: 150px;
 }

 #story > ul > li {
     float: left;
 }

 #spic > li > img {
     width: 90px;
     padding: 15px;
     border-radius: 500px;
 }

 #stext {
     margin: 125px 0 0 20px;
 }

 #stext > li {
     padding-right: 55px;
 }

 #con {
     padding: 25px 220px 0 220px;
 }

 #photos > tbody > tr > td {
     padding: 10px;
 }

 #footer {
     padding: 20px 180px 30px 180px;
     height: 20px;
 }

 #footer > ul > li {
     float: left;
     color: #b2bec3;
     font-size: 12px;
 }

 #footer > ul > li > a {
     padding: 10px;
 }

 #footer > ul > li:last-child {
     padding-left: 120px;
 }
