 * {
     margin: 0 auto;
     padding: 0;
 }

 body {
     width: auto;
     height: auto;
     font-family: 'Roboto', sans-serif;
     background-color: #FAFAFA;
 }

 a {
     text-decoration: none;
     color: #466C91;
     font-weight: 600;
 }

 a:visited {
     text-decoration: none;
 }

 #header {
     padding: 20px 0px 60px 240px;
     border-bottom: 1px solid #b2bec3;
     background-color: #fff;
 }

 #header > ul {
     list-style: none;
 }

 #header > ul > li {
     float: left;
 }

 #header > ul > li > img {
     height: 45px;
 }

 #header > ul > li > input {
     height: 25px;
     margin: 7px 240px;
 }

 #header > ul > li > input[type=search] {
     width: 200px;
     border: 1px solid #b2bec3;
     text-align: center;
     color: #b2bec3;
 }

 #header > ul > li > input[type=button] {
     width: 60px;
     border: 1px solid #0984e3;
     border-radius: 4px;
     background-color: #0984e3;
     color: #fff;
     margin-left: 20px;
 }

 #header > ul > li > input[type=submit] {
     width: 55px;
     border: 1px solid #fff;
     border-radius: 4px;
     background-color: #fff;
     color: #0984e3;
     margin-left: -236px;
 }

 #profile {
     padding:60px 590px 0 320px;
 }

 #profile > img {
     border-radius: 500px;
 }

 aside {
     float: right;
 }

 aside > ul {
     list-style: none;
 }

 aside > ul > li {
     float: left;
     padding: 2px;
 }

 #name {
     font-size: 27px;
 }

 aside > ul > li > img {
     height: 20px;
     margin-top: 5px;
 }

 aside > ul > li > input[type=button] {
     width: 65px;
     height: 30px;
     border: 1px solid #0984e3;
     border-radius: 4px;
     background-color: #0984e3;
     color: #fff;
 }

 #cnt {
     float: left;
     margin-top: 10px;
     margin-bottom: 15px;
 }

 #story {
     margin: 20px 270px;
 }

 #story > ul {
     list-style: none;
 }

 #story > ul > li {
     float: left;
 }

 #story > ul > li > img {
     width: 80px;
     padding: 20px;
     border-radius: 500px;
 }

 #storyt {
     margin: 144px 290px;
     list-style: none;
 }

 #storyt > ul {
     list-style: none;
 }

 #storyt > ul > li {
     float: left;
     padding-right: 55px;
 }

 #con {
     padding: 70px 220px 0 220px;
 }

 #photos > tbody > tr > td {
     padding: 10px;
 }

 #footer {
     padding: 30px 180px 45px 180px;
 }

 #footer > ul {
     list-style: none;
 }

 #footer > ul > li {
     float: left;
     color: #b2bec3;
     font-size: 12px;
 }

 #footer > ul > li > a {
     padding: 10px;
 }

 #cr {
     padding-left: 120px;
 }
