@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: #08A600;
}
a:visited {
    text-decoration: none;
}
li {
    list-style: none;
}
#wrap {
    font-family: 'Gothic A1', sans-serif;
    background-color: #F5F6F7;
    text-align: center;
}
#header {
    margin: 0 auto;
    height: 140px;
    width: 460px;
}
#header > a > img {
    width: 240px;
    margin-top: 60px;
}
.form {
    margin: 0 auto;
    height: 960px;
    width: 460px;
    position: relative;
}
.form > h4 {
    text-align: left;
    padding: 7px;
    font-size: 14px;
}
.form > h4 > span {
    font-size: 12px;
    font-weight: 100;
    color: #8E8E8E;
}
.info {
    width: 460px;
    height: 50px;
    text-align: right;
    color: #8E8E8E;
    border: 1px solid #DADADA;
    margin-bottom: 5px;
}
.birth {
    width: 147px;
    height: 50px;
    text-align: left;
    color: #8E8E8E;
    border: 1px solid #DADADA;
    margin-bottom: 5px;
}
#userpw {
    background-image: url('https://static.nid.naver.com/images/ui/join/m_icon_pass.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 430px;
}
#confirmpw {
    background-image: url('https://static.nid.naver.com/images/ui/join/pc_icon_check_disable_180417.png');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 430px;
}
#pnum {
    width: 310px;
    height: 50px;
    text-align: left;
    color: #8E8E8E;
    border: 1px solid #DADADA;
    margin-bottom: 5px;
}
#confirmpnum{
    width: 460px;
    height: 50px;
    text-align: left;
    color: #8E8E8E;
    border: 1px solid #DADADA;
    background-color: #F7F7F7;
}
input[type=button] {
    width: 138px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid #08A600;
    background-color: #08A600;
    color: #fff;
    font-size: 14px;
}
#confirme {
    text-align: left;
}
#confirmpn {
    width: 460px;
    height: 50px;
    text-align: left;
    font-size: 14px;
    color: #8E8E8E;
    border: 1px solid #DADADA;
    margin-bottom: 5px;
    line-height: 50px;
}
input[type=submit] {
    width: 460px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #08A600;
    background-color: #08A600;
    color: #fff;
    font-size: 20px;
}
#footer {
    margin: 0 auto;
    height: 50px;
    width: 420px;
    text-align: center;
}
#footer > ul > li {
    float: left;
    font-size: 12px;
    padding: 0 5px;
}
#footer > ul > li > a > img {
    width: 60px;
    margin: 5px 0 0 70px;
}
#footer > ul > li > em {
    font-size: 10px;
    font-style: normal;
}
#footer > ul > li > strong {
    font-size: 10px;
    font-weight: bolder;
}