 @import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
     color: black;
 }

 a:visited {
     text-decoration: none;
 }

 body {
     font-family: 'Gothic A1', sans-serif;
     background-color: #F5F6F7;
     text-align: center;
 }

 #header {
     margin: 0 auto;
     height: 140px;
     width: 460px;
 }

 #header > a > img {
     width: 240px;
     margin-top: 60px;
 }

 #lang > select {
     float: right;
     height: 30px;
     border: 1px solid #CCCCCC;
     margin-top: -90px;
     margin-right: -100px;
 }

 #container {
     margin: 30px auto;
     height: 650px;
     width: 450px;
     text-align: left;
     font-weight: 500;
     font-size: 15px;
 }

 #terms h4 {
     text-decoration: underline;
     margin-left: 30px;
     margin-bottom: 40px;
 }

 #terms p {
     font-size: 14px;
     margin-left: 30px;
     font-weight: 800;
 }

 span {
     font-size: 12px;
     font-weight: 100;
     color: #08a600;
 }

 .g {
     font-size: 12px;
     font-weight: 100;
     color: #8E8E8E;
 }

 input[type=checkbox] {
     display: none;
 }

 input[type=checkbox] + label {
     background: url(https://static.nid.naver.com/images/ui/myinfo/m_chcek_off_s_20.png);
     float: left;
     background-repeat: no-repeat;
     background-size: 20px;
 }

 input[type=checkbox]:checked + label {
     background: url(https://static.nid.naver.com/images/ui/myinfo/m_chcek_on_s_20.png);
     float: left;
     background-repeat: no-repeat;
     background-size: 20px;
 }

 #terms p {
     margin-left: 30px;
     margin-bottom: 10px;
 }

 textarea {
     width: 450px;
     height: 70px;
     margin-bottom: 40px;
 }

 #btn {
     margin-top: 50px;
 }

 input[type=button] {
     width: 220px;
     height: 60px;
     background-color: #8E8E8E;
     color: #fff;
     font-size: 20px;
     margin-right: 5px;
 }

 input[type=submit] {
     width: 220px;
     height: 60px;
     background-color: #08A600;
     color: #fff;
     font-size: 20px;
     margin-left: 5px;
 }

 #container > p {
     font-size: 13px;
     margin-top: 20px;
     text-align: center;
 }

 #container > p > a {
     text-decoration: underline;
 }

 #footer {
     margin: 0 auto;
     height: 60px;
     width: 420px;
     text-align: center;
 }

 #footer > ul > li {
     float: left;
     font-size: 12px;
     padding: 0 5px;
     margin-top: 30px;
 }

 #rights > ul > li {
     float: left;
     font-size: 9px;
     padding: 5px;
 }

 #rights > ul > li > a > img {
     width: 60px;
     margin-left: 70px;
 }

 #rights > ul > li > a {
     font-weight: 900;
 }
